
.gradient-box {
  width: 300px;
  height: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  display: inline-block;
}

.linear-gradient-1 {
  background: linear-gradient(135deg, green, yellow);
}
.repeating-linear-gradient {
  background: repeating-linear-gradient(
    45deg,
    violet,
    blue 10px,
    pink 20px
  );
}
.radial-gradient-1 {
  background: radial-gradient(circle at top left, blue, orange);
}
.radial-gradient-2 {
  width: 600px; 
  height: 200px;
  background:
    radial-gradient(circle, red, rgba(255,0,0,0) 70%),
    radial-gradient(ellipse, blue, rgba(0,0,255,0) 70%);
  background-size: 300px 200px;
  background-position: left, right; 
  background-repeat: no-repeat;  
}
.sunset-gradient {
  background: radial-gradient(
    ellipse at center,
    rgb(255, 165, 0),  
    rgb(255, 192, 203), 
    rgb(173, 216, 230)  
  );
}


.text-gradient {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}